@{
  Layout = "_Layout";
}

@model Library.Models.Book
@using Library.Models

<h3>Add a new book</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title, new { required="required"})

      <label for="authorId">Author ID: </label>
      <input list="authors" name="author" id="authorId">
      <span id='name-field'></span>
      <datalist id="authors"> 
    @foreach (Author author in ViewBag.AuthorList)
    {
                <option value=@author.AuthorId>@author.Name</option>
    }
      </datalist>
      <br>
      <br>
      <input type="submit" value="Add new book" class="btn btn-primary" />
}

  <p>@Html.ActionLink("Show all books", "Index")</p>



<script type=text/javascript src='~/js/scripts.js'></script>